/* CDN을 통해 Layui 아이콘 폰트를 직접 불러와서 에러와 깨짐을 원천 차단합니다 */
@font-face {
  font-family: 'layui-icon';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/layui/2.5.5/font/iconfont.woff2?v=250') format('woff2'),
       url('https://cdnjs.cloudflare.com/ajax/libs/layui/2.5.5/font/iconfont.woff?v=250') format('woff'),
       url('https://cdnjs.cloudflare.com/ajax/libs/layui/2.5.5/font/iconfont.ttf?v=250') format('truetype');
}

.ztree li a span.button {
    background-size: 16px !important;
}
.ztree li span {
    margin-left: 5px;
}